.tiptap-focused {
  position: relative;
  outline: none;
  border: none;
  // padding-right: 2px;
  &::after {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    right: 0;
    bottom: 0;
    border: 2px solid rgba(#000, 0.5);
    border-radius: 4px;
    pointer-events: none;
  }
}
.mermaid-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  max-width: 60vw;
  &.mermaid-image-loading {
    justify-content: center;
    background-color: #f5f5f5;
    height: 200px;
    width: 100%;
    border-radius: 4px;
    position: relative;

    &::after {
      content: '图表加载中';
      position: absolute;
      top: calc(50% + 10px);
      left: 50%;
      transform: translateX(-50%);
      color: #bfbfbf;
      font-size: 14px;
    }
  }
  &.mermaid-image-error {
    box-sizing: border-box;
    justify-content: center;
    background-color: #f5f5f5;
    height: 200px;
    width: 100%;
    border-radius: 4px;
  }
  img {
    max-width: 100%;
    margin: 0 auto;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
  }
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  pre {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    background: #2e2b29;
    border-radius: 0.5rem;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      box-sizing: border-box;
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }

    /* Code styling */
    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
  &.ProseMirror-focused {
    @extend .tiptap-focused;
    &::after {
      display: none;
    }
  }
  [contenteditable='true'] {
    outline: none;
    border: none;
  }
  .tiptap-markdown-table {
    border-collapse: collapse;
    margin: 20px 0;
    overflow: hidden;
    width: 100%;
    user-select: none;
    td,
    th {
      user-select: none;
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid #e5e6eb;
      padding: 8px 16px;
    }

    th {
      user-select: none;
      background-color: #f2f3f5;
      color: #6b7280;
      border-top: 1px solid #e5e6eb;
      font-weight: 500;
    }

    tr td {
      background-color: #fdfdfd;
      color: #9ca3af;
      font-weight: 400;
    }
    p {
      margin: auto !important;
      text-indent: 0 !important;
      text-align: left !important;
    }
  }
}
